@{
    ViewData["Title"] = "Stock Options";
}

<div class="container">
    <!-- Stock Options Section -->
    <div class="menu-container">
        <div class="menu-section">
            <!-- Option for Stock by Store -->
            <a href="@Url.Action("Index", "StockParMagasin")" class="menu-link">
                <div class="menu-item">
                    <img src="@Url.Content("~/images/warehouse-stock-svgrepo-com.svg")" alt="Stock par Magasin" />
                    <span>Stock par Magasin</span>
                    
                </div>
            </a>
            <!-- Option for Stock by Article -->
            <a href="@Url.Action("StockParArticle", "StockParArticle")" class="menu-link">
                <div class="menu-item">
                    <img src="@Url.Content("~/images/stock-svgrepo-com.svg")" alt="Stock par Article" />
                    <span>Stock par Article</span>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
body {
    background-color: #f8f9fa; /* Couleur de fond de la page */
    margin: 0;
    padding: 0;
}

.menu-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 150px auto 0;
}

.menu-section {
    display: flex;
    gap: 20px;
    width: fit-content;
}

.menu-item {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-link {
    text-decoration: none;
}

.menu-link span {
    color: #000;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
}

.menu-link img {
    max-width: 100%;
    max-height: 70px;
    margin-bottom: 10px;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
</style>